*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    height: 50%;
    width: 50%;
    background-color: black;
}

.box{
    height: 50%;
    background-color: red;
    width: 50%;
}

.nested{
    background-color: green;
}

/* pixels are static unit
they depend on screen pixels */
/* Units: 'px', '%', 'em', 'rem', 'vw', 'vh', 'vmin', 'vmax', 'ch', 'fr' */