*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body{
    height : 100%;
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


main{
    position: relative;
    height: 80%;
    background-color: black;
    width: 80%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    /* align-items: center;
    justify-items: center; */
}


.box{
    /* height: 100%;
    width: 100%; */
    background-color: red;
    font-size: 40px;
}



/* grid-template-columns: 1fr 1fr
it means that grid makes columns and fr means the number of columns
same goes with the rows one
 */