*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body{
    height : 100%;
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* diplay - flex tag changes the properties of a tag and oppossites it */
/* flex-wrap: wrap = wraps the columsns and send the access in the next ones */
/* flex items such as align items and justify content only work when diplay flex tag is given */

main{
    height: 90%;
    background-color: black;
    width: 90%;
}

.box{
    height: 30%;
    width: 30%;
    background-color: red;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#box1{
    position: sticky;
}

#box2{
    position: absolute;
    top: 10%;
    left: 50%;
    
}