html,
body{
    height : 300px;
    width: 300px;
}

main{
    height: 300px;
    width: 300px;
    background-color: black;
    font-size: 20px;
    /* transition: all 2s ease; */
    color: white;
    animation: moveright 2s ease-in-out 2 alternate;
}

/* animation: name duration timing-function delay iteration-count direction fill-mode; */


#heading{
    animation: moveright 2s ease-in-out 2s 2 forwards;
}

/* 
main:hover{
    transform: translateX(200px);
     transform: rotate(90deg); 
} */

@keyframes moveright{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(600px);
    }
}


/* transition: property, duration, timing function  */